<!DOCTYPE html>
<html lang="pl">
<head>
	<title>Sparfy.pl - Customowy link + Reklama serwera za darmo!</title>
	<meta charset="UTF-8">
	<meta property="og:site_name" content="Sparfy.pl">
	<meta property="og:title" content="Custom link i reklama!">
	<meta property="og:image" content="<%= bot.user.displayAvatarURL() %>>">
	<meta property="og:description" content="Największy bot reklamowy + custom link w Polsce!">
	<meta name="theme-color" content="#0e4ee3">
	<meta name="keywords" content="Sparfy, reklama, custom link, discord, discord nitro, disord boost, support, polska, crusty, alky, marketing">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="assets/css/slicknav.min.css"/>
	<link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body>
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<header class="header-section clearfix">
		<a href="/" class="site-logo">
			<h5 class="text-white">Sparfy.pl</h5>
		</a>
		<div class="header-right">
			<div class="user-panel">
				<a href="/partnerzy/lecraft" class="login" target="_blank">LE CRAFT</a>
				<a href="#" class="login" target="_blank">NBWLM</a>
				<a href="#" class="login" target="_blank">PREMIUM</a>
				<a href="https://discord.gg/9qgAWrV" class="login" target="_blank">SERWER WSPARCIA</a>
				<a href="https://discord.com/oauth2/authorize?client_id=<%= bot.user.id %>&permissions=8&scope=bot" class="register" target="_blank"><b>DODAJ BOTA</b></a>
			</div> 
		</div>
	</header>
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2>Sparfy.pl</h2>
								<p>Bot jest łatwy w konfiguracji. W rezultacie otrzymujesz wyjątkowy, łatwy do zapamiętania link oraz nasz bot zadba o reklamowanie twojego serwera.</p>
								<a href="https://discord.com/oauth2/authorize?client_id=<%= bot.user.id %>&permissions=8&scope=bot" class="site-btn">Zaproś bota na serwer!</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="<%= bot.user.displayAvatarURL({format: "png", size: 1024}) %>">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="how-section spad dc-bg">
		<div class="container text-white">
			<div class="section-title text-center pb-3">
				<h3>Sparfy.pl - Dlaczego akurat my?</h3>
			</div>
			<div class="row pt-5">
				<div class="col-md-4">
					<div class="how-item">
						<h4>REKLAMOWANIE</h4>
						<p>Oferujemy darmową reklamę twojego serwera przy użyciu naszego bota Sparfy. Należy stworzyć botowi kanał, który widzi każda osoba przebywająca na serwerze, następnie wpisać odpowiednie komendy, które znajdziesz wpisując <i>;pomoc</i></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<h4>SPERSONALIZOWANY LINK</h4>
						<p>Za pomocą naszego bota, czyli Sparfy.pl otrzymasz spersonalizowany, inaczej customowy link, należący tylko do twojego serwera co czyni go wyjątkowym. Wszelkiego rodzaju komendy dot. ustawienia takiego linku znajdziesz w menu komend wpisując <i>;pomoc</i></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<h4>PREMIUM</h4>
						<p>Link bezpośredni oraz <b>zmiana tła strony twojego serwera</b>. więcej informacji dot. pakietu Premium znajdziesz <a href="#"><b>klikając tutaj</b></a>!</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="subscription-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="sub-text">
						<h2>Komendy</h2>
						<h3>Przejrzyste komendy</h3>
						<p>Nie czekaj dłużej, dodaj naszego bota już teraz na serwer i speronalizuj swoją reklamę!</p>
						<a href="https://discord.com/oauth2/authorize?client_id=<%= bot.user.id %>&permissions=8&scope=bot" class="site-btn">Zaproś bota na serwer!</a>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="sub-list">
						<li><img src="assets/img/icons/check-icon.png" alt="">pomoc</li>
						<li><img src="assets/img/icons/check-icon.png" alt="">status</li>
						<li><img src="assets/img/icons/check-icon.png" alt="">link</li>
						<li><img src="assets/img/icons/check-icon.png" alt="">opis</li>
						<li><img src="assets/img/icons/check-icon.png" alt="">tło</li>
						<li><img src="assets/img/icons/check-icon.png" alt="">reklama</li>
						<li><img src="assets/img/icons/check-icon.png" alt="">kanał</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="premium-section spad dc-bg">
		<div class="container">
			<div class="section-title text-white text-center">
				<h2>Nasz zespół</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-sm-6">
					<div class="premium-item">
						<img src="https://cdn.discordapp.com/avatars/392312614455214082/0f16419082cbff658cd36f9ce089859a.png?size=1024">
						<h4 class="text-white">dioxtarr#6039</h4>
						<p>Menadżer, koordynator całego projektu</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="premium-item">
						<img src="https://cdn.discordapp.com/avatars/749225466627358720/a_168945a731b1ec11c845ea38a8adf294.gif?size=1024">
						<h4 class="text-white">kacperrrooo#2137</h4>
						<p>Współwłaściciel, developer bota</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-5 order-lg-1">
					<div class="copyright text-center text-white">
						Strona przerobiana na potrzeby projektu Sparfy.pl z template <a class="text-muted" href="https://colorlib.com/preview/theme/solmusic/">SolMusic</a> &copy; 2020
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.slicknav.min.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/mixitup.min.js"></script>
	<script src="assets/js/main.js"></script>
	</body>
</html>
